---
  resourceGroup: centos-small-vm
  location: southcentralus
  vm: centos-vm
  publicIp: centos-publicip
  vnet: centos-vnet
  subnet: centos-subnet
  nsg: centos-nsg
  nic: centos-nic
  admin_user: admin
  ssh_pubkey: "ssh-rsa AAAAB== username@host"